.download{background-image:url(../images/icon/download.png)!important;background-repeat:no-repeat;}
.ui-splitter{background-image:url(../images/icon/ui-splitter.png)!important;background-repeat:no-repeat;}
.arrow_rotate_anticlockwise{background-image:url(../images/icon/arrow_rotate_anticlockwise.png)!important;background-repeat:no-repeat;}
.puzzle{background-image:url(../images/icon/puzzle.png)!important;background-repeat:no-repeat;}
.rich_text_color{background-image:url(../images/icon/rich_text_color.png)!important;background-repeat:no-repeat;}
.autosize{background-image:url(../images/icon/autosize.png)!important;background-repeat:no-repeat;}
.computer{background-image:url(../images/icon/computer.png)!important;background-repeat:no-repeat;}
.home{background-image:url(../images/icon/house.png)!important;background-repeat:no-repeat;}
.cancel{background-image:url(../images/icon/cancel.png)!important;background-repeat:no-repeat;}
.anchor{background-image:url(../images/icon/anchor.png)!important;background-repeat:no-repeat;}
.box{background-image:url(../images/icon/box.png)!important;background-repeat:no-repeat;}
.cart{background-image:url(../images/icon/cart.png)!important;background-repeat:no-repeat;}
.cart_edit{background-image:url(../images/icon/cart_edit.png)!important;background-repeat:no-repeat;}
.erase{background-image:url(../images/icon/eraser.png)!important;background-repeat:no-repeat;}
.broom{background-image:url(../images/icon/broom.png)!important;background-repeat:no-repeat;}
.plugin{background-image:url(../images/icon/plugin.png)!important;background-repeat:no-repeat;}
.asterisk_orange{background-image:url(../images/icon/asterisk_orange.png)!important;background-repeat:no-repeat;}
.fme-tb-fx{background-image:url(../images/icon/stock_function_autopilot.png)!important;background-repeat:no-repeat;}
.toolbox{background-image:url(../images/icon/hammer-screwdriver.png)!important;background-repeat:no-repeat;}
.list{background-image:url(../images/icon/clipboard-list.png)!important;background-repeat:no-repeat;}
.leaf{background-image:url(../images/icon/leaf.png)!important;background-repeat:no-repeat;}
.order{background-image:url(../images/icon/edit-list-order.png)!important;background-repeat:no-repeat;}
.receipt{background-image:url(../images/icon/receipt.png)!important;background-repeat:no-repeat;}
.description{background-image:url(../images/icon/sticky-note--pencil.png)!important;background-repeat:no-repeat;}
.stamp{background-image:url(../images/icon/stamp.png)!important;background-repeat:no-repeat;}
.review{background-image:url(../images/icon/projection-screen.png)!important;background-repeat:no-repeat;}
.stamp-pattern{background-image:url(../images/icon/stamp-pattern.png)!important;background-repeat:no-repeat;}
.coins{background-image:url(../images/icon/coins.png)!important;background-repeat:no-repeat;}
.exchange{background-image:url(../images/icon/wrench-screwdriver.png)!important;background-repeat:no-repeat;}
.present{background-image:url(../images/icon/present.png)!important;background-repeat:no-repeat;}
.table-select-all{background-image:url(../images/icon/table-select-all.png)!important;background-repeat:no-repeat;}
.wooden_box{background-image:url(../images/icon/wooden-box.png)!important;background-repeat:no-repeat;}
.calculator-scientific{background-image:url(../images/icon/calculator-scientific.png)!important;background-repeat:no-repeat;}
.lorry{background-image:url(../images/icon/lorry.png)!important;background-repeat:no-repeat;}
.lorry_stop{background-image:url(../images/icon/lorry_stop.png)!important;background-repeat:no-repeat;}
.control-090{background-image:url(../images/icon/control-090.png)!important;background-repeat:no-repeat;}
.control-270{background-image:url(../images/icon/control-270.png)!important;background-repeat:no-repeat;}
.control-double-090{background-image:url(../images/icon/control-double-090.png)!important;background-repeat:no-repeat;}
.control-double-270{background-image:url(../images/icon/control-double-270.png)!important;background-repeat:no-repeat;}
.projection-screen-presentation{background-image:url(../images/icon/projection-screen-presentation.png)!important;background-repeat:no-repeat;}
.calendar-relation{background-image:url(../images/icon/calendar-relation.png)!important;background-repeat:no-repeat;}
.fme-cmp-split {
	border-top: 1px dashed grey;
}
.fme-cmp-form {
	margin: 10px;
	border: 1px solid silver;
	background:url(../images/icon/form-bg.png);
}
.cog{background-image:url(../images/icon/cog.gif)!important;background-repeat:no-repeat;}
.chart_pie{background-image:url(../images/icon/chart_pie.png)!important;background-repeat:no-repeat;}
.arrow-circle-double{background-image:url(../images/icon/arrow-circle-double.png)!important;background-repeat:no-repeat;}
.page_previous{background-image:url(../images/icon/document-page-previous.png)!important;background-repeat:no-repeat;}
.page_next{background-image:url(../images/icon/document-page-next.png)!important;background-repeat:no-repeat;}
.inbox--arrow{background-image:url(../images/icon/inbox--arrow.png)!important;background-repeat:no-repeat;}
.outline{background-image:url(../images/icon/outline.png)!important;background-repeat:no-repeat;}
.search{background-image:url(../images/icon/search.png)!important;background-repeat:no-repeat;}
.calculator--pencil{background-image:url(../images/icon/calculator--pencil.png)!important;background-repeat:no-repeat;}
.tbar_synchronize{background-image:url(../images/ext/tbar_synchronize.png)!important;background-repeat:no-repeat;}
.calculator{background-image:url(../images/icon/calculator.png)!important;background-repeat:no-repeat;}
.document--minus{background-image:url(../images/icon/document--minus.png)!important;background-repeat:no-repeat;}
.picture_delete{background-image:url(../images/icon/picture_delete.png)!important;background-repeat:no-repeat;}
.picture_add{background-image:url(../images/icon/picture_add.png)!important;background-repeat:no-repeat;}
.document--plus{background-image:url(../images/icon/document--plus.png)!important;background-repeat:no-repeat;}
.picture--plus{background-image:url(../images/icon/picture--plus.png)!important;background-repeat:no-repeat;}
.logout{background-image:url(../images/icon/door_out.png)!important;background-repeat:no-repeat;}
.arrow_large_down{background-image:url(../images/icon/arrow_large_down.png)!important;background-repeat:no-repeat;}
.arrow_large_up{background-image:url(../images/icon/arrow_large_up.png)!important;background-repeat:no-repeat;}
.select_rec{background-image:url(../images/icon/accept.png)!important;background-repeat:no-repeat;}
.stopIcon{background-image:url(../images/icon/stop.png)!important;background-repeat:no-repeat;}
.lorry_go{background-image:url(../images/icon/lorry_go.png)!important;background-repeat:no-repeat;}
.package_in{background-image:url(../images/icon/package_in.png)!important;background-repeat:no-repeat;}
.accept{background-image:url(../images/icon/accept.png)!important;background-repeat:no-repeat;}
.select_more{background-image:url(../images/icon/comment_reply.png)!important;background-repeat:no-repeat;}
.reset{background-image:url(../images/icon/reset.png)!important;background-repeat:no-repeat;}
.query{background-image:url(../images/icon/query.png)!important;background-repeat:no-repeat;}
.refresh_backwards{background-image:url(../images/icon/refresh_backwards.png)!important;background-repeat:no-repeat;}
.refresh{background-image:url(../images/icon/refresh.png)!important;background-repeat:no-repeat;}
.system_settings{background-image:url(../images/icon/cog.png)!important;background-repeat:no-repeat;}
.eye{background-image:url(../images/icon/eye.png)!important;background-repeat:no-repeat;}
.zoom{background-image:url(../images/icon/zoom.png)!important;background-repeat:no-repeat;}
.zoom_out{background-image:url(../images/icon/zoom_out.png)!important;background-repeat:no-repeat;}
.page_copy{background-image:url(../images/icon/page_copy.png)!important;background-repeat:no-repeat;}
.printer{background-image:url(../images/icon/printer.png)!important;background-repeat:no-repeat;}
.printer_key{background-image:url(../images/icon/printer_key.png)!important;background-repeat:no-repeat;}
.wrench{background-image:url(../images/icon/wrench.png)!important;background-repeat:no-repeat;}
.folder_brick{background-image:url(../images/icon/folder_brick.png)!important;background-repeat:no-repeat;}
.bin_empty{background-image:url(../images/icon/bin_empty.png)!important;background-repeat:no-repeat;}
.email_edit{background-image:url(../images/icon/email_edit.png)!important;background-repeat:no-repeat;}
.email_transfer{background-image:url(../images/icon/email_transfer.png)!important;background-repeat:no-repeat;}
.email_go{background-image:url(../images/icon/email_go.png)!important;background-repeat:no-repeat;}
.express{background-image:url(../images/icon/mail-open-document.png)!important;background-repeat:no-repeat;}
.confirm{background-image:url(../images/icon/auction-hammer.png)!important;background-repeat:no-repeat;}
.template{background-image:url(../images/icon/document-template.png)!important;background-repeat:no-repeat;}


.money_yen{background-image:url(../images/icon/money_yen.png)!important;background-repeat:no-repeat;}
.money-coin{background-image:url(../images/icon/money-coin.png)!important;background-repeat:no-repeat;}

.script{background-image:url(../images/icon/script.png)!important;background-repeat:no-repeat;}
.script_code{background-image:url(../images/icon/script_code.png)!important;background-repeat:no-repeat;}
.script_add{background-image:url(../images/icon/script_add.png)!important;background-repeat:no-repeat;}
.script_delete{background-image:url(../images/icon/script_delete.png)!important;background-repeat:no-repeat;}
.script_save{background-image:url(../images/icon/script_save.png)!important;background-repeat:no-repeat;}
.map{background-image:url(../images/icon/map.png)!important;background-repeat:no-repeat;}
.save{background-image:url(../images/icon/disk.png)!important;background-repeat:no-repeat;}

.add{background-image:url(../images/icon/add.png)!important;background-repeat:no-repeat;}
.modify{background-image:url(../images/icon/edit.png)!important;background-repeat:no-repeat;}
.delete{background-image:url(../images/icon/delete.png)!important;background-repeat:no-repeat;}
.clear{background-image:url(../images/icon/cross.png)!important;background-repeat:no-repeat;}
.func{background-image:url(../images/icon/sum.png)!important;background-repeat:no-repeat;}

.key{background-image:url(../images/icon/key.png)!important;background-repeat:no-repeat;}
.key_add{background-image:url(../images/icon/key_add.png)!important;background-repeat:no-repeat;}
.key_delete{background-image:url(../images/icon/key_delete.png)!important;background-repeat:no-repeat;}

.user{background-image:url(../images/icon/user.png)!important;background-repeat:no-repeat;}
.user_add{background-image:url(../images/icon/user_add.png)!important;background-repeat:no-repeat;}
.user_delete{background-image:url(../images/icon/user_delete.png)!important;background-repeat:no-repeat;}
.user_edit{background-image:url(../images/icon/user_edit.png)!important;background-repeat:no-repeat;}
.user_go{background-image:url(../images/icon/user_go.png)!important;background-repeat:no-repeat;}
.user_comment{background-image:url(../images/icon/user_comment.png)!important;background-repeat:no-repeat;}

.layout{background-image:url(../images/icon/layout.png)!important;background-repeat:no-repeat;}
.layout_header{background-image:url(../images/icon/layout-header.png)!important;background-repeat:no-repeat;}
.layout_footer{background-image:url(../images/icon/layout-footer.png)!important;background-repeat:no-repeat;}
.layout_header_footer{background-image:url(../images/icon/layout-header-footer.png)!important;background-repeat:no-repeat;}

.grid{background-image:url(../images/icon/application-table.png)!important;background-repeat:no-repeat;}
.textfield{background-image:url(../images/icon/ui-text-field.png)!important;background-repeat:no-repeat;}
.numberfield{background-image:url(../images/icon/ui-number-field.png)!important;background-repeat:no-repeat;}
.textarea{background-image:url(../images/icon/ui-text-field-abc.png)!important;background-repeat:no-repeat;}
.datefield{background-image:url(../images/icon/ui-combo-box-calendar.png)!important;background-repeat:no-repeat;}
.datetimefield{background-image:url(../images/icon/ui-combo-box-calendar.png)!important;background-repeat:no-repeat;}
.displayfield{background-image:url(../images/icon/ui-combo-box.png)!important;background-repeat:no-repeat;}
.checkbox{background-image:url(../images/icon/ui-check-box.png)!important;background-repeat:no-repeat;}
.un_checkbox{background-image:url(../images/icon/ui-check-box-uncheck.png)!important;background-repeat:no-repeat;}
.radio{background-image:url(../images/icon/ui-radio-button.png)!important;background-repeat:no-repeat;}
.font{background-image:url(../images/icon/font.png)!important;background-repeat:no-repeat;}
.image{background-image:url(../images/icon/image.png)!important;background-repeat:no-repeat;}
.button{background-image:url(../images/icon/ui-button.png)!important;background-repeat:no-repeat;}
.tab{background-image:url(../images/icon/ui-tab-content.png)!important;background-repeat:no-repeat;}
.groupbox{background-image:url(../images/icon/ui-group-box.png)!important;background-repeat:no-repeat;}
.accordion{background-image:url(../images/icon/ui-accordion.png)!important;background-repeat:no-repeat;}
.fme-tb-none{background-image:url(../images/icon/briefcase.png)!important;background-repeat:no-repeat;}
.frm-menu{background-image:url(../images/icon/ui-menu.png)!important;background-repeat:no-repeat;}
.toolbar{background-image:url(../images/icon/ui-toolbar.png)!important;background-repeat:no-repeat;}
.check{background-image:url(../images/icon/bin--pencil.png)!important;background-repeat:no-repeat;}
.tab_add{background-image:url(../images/icon/ui-tab--plus.png)!important;background-repeat:no-repeat;}
.tab_edit{background-image:url(../images/icon/ui-tab--pencil.png)!important;background-repeat:no-repeat;}
.tab_delete{background-image:url(../images/icon/ui-tab--minus.png)!important;background-repeat:no-repeat;}

.table_relationship{background-image:url(../images/icon/table_relationship.png)!important;background-repeat:no-repeat;}
.table_col{background-image:url(../images/icon/table_column.png)!important;background-repeat:no-repeat;}
.table_row{background-image:url(../images/icon/table_row.png)!important;background-repeat:no-repeat;}
.table_col_ins{background-image:url(../images/icon/table_column_add.png)!important;background-repeat:no-repeat;}
.table_row_ins{background-image:url(../images/icon/table_row_insert.png)!important;background-repeat:no-repeat;}
.table_refresh{background-image:url(../images/icon/table_refresh.png)!important;background-repeat:no-repeat;}
.form_add{background-image:url(../images/icon/application_form_add.png)!important;background-repeat:no-repeat;}

.tag_add{background-image:url(../images/icon/tag_blue_add.png)!important;background-repeat:no-repeat;}
.tag_edit{background-image:url(../images/icon/tag_blue_edit.png)!important;background-repeat:no-repeat;}
.tag_delete{background-image:url(../images/icon/tag_blue_delete.png)!important;background-repeat:no-repeat;}

.align_top{background-image:url(../images/icon/layers-alignment.png)!important;background-repeat:no-repeat;}
.align_bottom{background-image:url(../images/icon/layers-alignment-bottom.png)!important;background-repeat:no-repeat;}
.align_center{background-image:url(../images/icon/layers-alignment-center.png)!important;background-repeat:no-repeat;}
.align_left{background-image:url(../images/icon/layers-alignment-left.png)!important;background-repeat:no-repeat;}
.align_middle{background-image:url(../images/icon/layers-alignment-middle.png)!important;background-repeat:no-repeat;}
.align_right{background-image:url(../images/icon/layers-alignment-right.png)!important;background-repeat:no-repeat;}

.layers{background-image:url(../images/icon/layers.png)!important;background-repeat:no-repeat;}
.layer_resize{background-image:url(../images/icon/layer-resize.png)!important;background-repeat:no-repeat;}
.layer_resize_actual{background-image:url(../images/icon/layer-resize-actual.png)!important;background-repeat:no-repeat;}
.fme-tb-prop{background-image:url(../images/icon/application_form_magnify.png)!important;background-repeat:no-repeat;}
.layer_top{background-image:url(../images/icon/layers-arrange.png)!important;background-repeat:no-repeat;}
.layer_bottom{background-image:url(../images/icon/layers-arrange-back.png)!important;background-repeat:no-repeat;}

.font_off{background-image:url(../images/icon/ui-label.png)!important;background-repeat:no-repeat;}
.font_on{background-image:url(../images/icon/ui-label-link.png)!important;background-repeat:no-repeat;}
.permit_control{background-image:url(../images/icon/control_equalizer_blue.png)!important;background-repeat:no-repeat;}

.text_align_justify{background-image:url(../images/icon/text_align_justify.png)!important;background-repeat:no-repeat;}
.text_align_left{background-image:url(../images/icon/text_align_left.png)!important;background-repeat:no-repeat;}
.text_align_center{background-image:url(../images/icon/text_align_center.png)!important;background-repeat:ntext_align_justify.pngo-repeat;}
.text_align_right{background-image:url(../images/icon/text_align_right.png)!important;background-repeat:no-repeat;}

.role{background-image:url(../images/icon/group.png)!important;background-repeat:no-repeat;}
.role_add{background-image:url(../images/icon/group_add.png)!important;background-repeat:no-repeat;}
.role_delete{background-image:url(../images/icon/group_delete.png)!important;background-repeat:no-repeat;}
.role_edit{background-image:url(../images/icon/group_edit.png)!important;background-repeat:no-repeat;}
.role_save{background-image:url(../images/icon/group_go.png)!important;background-repeat:no-repeat;}
.role_link{background-image:url(../images/icon/group_link.png)!important;background-repeat:no-repeat;}
.role_setup{background-image:url(../images/icon/group_gear.png)!important;background-repeat:no-repeat;}
.group_key{background-image:url(../images/icon/group_key.png)!important;background-repeat:no-repeat;}

.reset_pwd{background-image:url(../images/icon/arrow_redo.png)!important;background-repeat:no-repeat;}
.module{background-image:url(../images/icon/book_open.png)!important;background-repeat:no-repeat;}
.link{background-image:url(../images/icon/link.png)!important;background-repeat:no-repeat;}
.link_add{background-image:url(../images/icon/link_add.png)!important;background-repeat:no-repeat;}
.link_delete{background-image:url(../images/icon/link_delete.png)!important;background-repeat:no-repeat;}
.link_edit{background-image:url(../images/icon/link_edit.png)!important;background-repeat:no-repeat;}

.table{background-image:url(../images/icon/table.png)!important;background-repeat:no-repeat;}
.table_add{background-image:url(../images/icon/table_add.png)!important;background-repeat:no-repeat;}
.table_delete{background-image:url(../images/icon/table_delete.png)!important;background-repeat:no-repeat;}
.table_edit{background-image:url(../images/icon/table_edit.png)!important;background-repeat:no-repeat;}
.table_lightning{background-image:url(../images/icon/table_lightning.png)!important;background-repeat:no-repeat;}
.table_key{background-image:url(../images/icon/table_key.png)!important;background-repeat:no-repeat;}
.table_gear{background-image:url(../images/icon/table_gear.png)!important;background-repeat:no-repeat;}
.table_go{background-image:url(../images/icon/table_go.png)!important;background-repeat:no-repeat;}
.table_refresh{background-image:url(../images/icon/table_refresh.png)!important;background-repeat:no-repeat;}
.table_link{background-image:url(../images/icon/table_link.png)!important;background-repeat:no-repeat;}
.table_relationship{background-image:url(../images/icon/table_relationship.png)!important;background-repeat:no-repeat;}
.table_row_delete{background-image:url(../images/icon/table_row_delete.png)!important;background-repeat:no-repeat;}
.table_row_insert{background-image:url(../images/icon/table_row_insert.png)!important;background-repeat:no-repeat;}
.table_sort{background-image:url(../images/icon/table_sort.png)!important;background-repeat:no-repeat;}
.table_save{background-image:url(../images/icon/table_sve.png)!important;background-repeat:no-repeat;}
.table_import{background-image:url(../images/icon/table--arrow.png)!important;background-repeat:no-repeat;}

.field{background-image:url(../images/icon/tag_blue.png)!important;background-repeat:no-repeat;}
.field_add{background-image:url(../images/icon/tag_blue_add.png)!important;background-repeat:no-repeat;}
.field_delete{background-image:url(../images/icon/tag_blue_delete.png)!important;background-repeat:no-repeat;}
.field_edit{background-image:url(../images/icon/tag_blue_edit.png)!important;background-repeat:no-repeat;}

.synchro{background-image:url(../images/icon/arrow_refresh.png)!important;background-repeat:no-repeat;}
.permssion{background-image:url(../images/icon/lock.png)!important;background-repeat:no-repeat;}
.permssion_add{background-image:url(../images/icon/lock_add.png)!important;background-repeat:no-repeat;}
.permssion_delete{background-image:url(../images/icon/lock_delete.png)!important;background-repeat:no-repeat;}
.permssion_edit{background-image:url(../images/icon/lock_edit.png)!important;background-repeat:no-repeat;}

.product{background-image:url(../images/icon/database.png)!important;background-repeat:no-repeat;}
.material{background-image:url(../images/icon/document_a4.png)!important;background-repeat:no-repeat;}
.common_window{background-image:url(../images/icon/application_windows.png)!important;background-repeat:no-repeat;}
.disconnect{background-image:url(../images/icon/disconnect.png)!important;background-repeat:no-repeat;}
.database_connect{background-image:url(../images/icon/database_connect.png)!important;background-repeat:no-repeat;}
.database_add{background-image:url(../images/icon/database_add.png)!important;background-repeat:no-repeat;}
.database_edit{background-image:url(../images/icon/database_edit.png)!important;background-repeat:no-repeat;}
.database_delete{background-image:url(../images/icon/database_delete.png)!important;background-repeat:no-repeat;}
.database_refresh{background-image:url(../images/icon/database_refresh.png)!important;background-repeat:no-repeat;}
.database_go{background-image:url(../images/icon/database_go.png)!important;background-repeat:no-repeat;}
.database_save{background-image:url(../images/icon/database_save.png)!important;background-repeat:no-repeat;}

.page_attach{background-image:url(../images/icon/page_attach.png)!important;background-repeat:no-repeat;}
.page_add{background-image:url(../images/icon/page_add.png)!important;background-repeat:no-repeat;}
.page_edit{background-image:url(../images/icon/page_edit.png)!important;background-repeat:no-repeat;}
.page_save{background-image:url(../images/icon/page_save.png)!important;background-repeat:no-repeat;}
.page_go{background-image:url(../images/icon/page_go.png)!important;background-repeat:no-repeat;}
.page_copy{background-image:url(../images/icon/page_copy.png)!important;background-repeat:no-repeat;}
.page_paste{background-image:url(../images/icon/page_paste.png)!important;background-repeat:no-repeat;}
.page_delete{background-image:url(../images/icon/page_delete.png)!important;background-repeat:no-repeat;}
.page_error{background-image:url(../images/icon/page_cancel.png)!important;background-repeat:no-repeat;}
.page_refresh{background-image:url(../images/icon/page_refresh.png)!important;background-repeat:no-repeat;}
.page_key{background-image:url(../images/icon/page_key.png)!important;background-repeat:no-repeat;}
.page_link{background-image:url(../images/icon/page_link.png)!important;background-repeat:no-repeat;}
.page_find{background-image:url(../images/icon/page_find.png)!important;background-repeat:no-repeat;}
.page_excel{background-image:url(../images/icon/page_excel.png)!important;background-repeat:no-repeat;}
.page_gear{background-image:url(../images/icon/page_gear.png)!important;background-repeat:no-repeat;}
.arrow_refresh{background-image:url(../images/icon/arrow_refresh.png)!important;background-repeat:no-repeat;}

.page_white{background-image:url(../images/icon/page_white.png)!important;background-repeat:no-repeat;}
.page_white_add{background-image:url(../images/icon/page_white_add.png)!important;background-repeat:no-repeat;}
.page_white_edit{background-image:url(../images/icon/page_white_edit.png)!important;background-repeat:no-repeat;}
.page_white_go{background-image:url(../images/icon/page_white_go.png)!important;background-repeat:no-repeat;}
.page_white_delete{background-image:url(../images/icon/page_white_delete.png)!important;background-repeat:no-repeat;}
.page_white_wrench{background-image:url(../images/icon/page_white_wrench.png)!important;background-repeat:no-repeat;}
.page_white_actionscript{background-image:url(../images/icon/page_white_actionscript.png)!important;background-repeat:no-repeat;}

.cog_add{background-image:url(../images/icon/cog_add.png)!important;background-repeat:no-repeat;}
.cog_edit{background-image:url(../images/icon/cog_edit.png)!important;background-repeat:no-repeat;}
.cog_save{background-image:url(../images/icon/cog_save.png)!important;background-repeat:no-repeat;}
.cog_delete{background-image:url(../images/icon/cog_delete.png)!important;background-repeat:no-repeat;}
.cog_refresh{background-image:url(../images/icon/cog_refresh.png)!important;background-repeat:no-repeat;}

.sql_exec{background-image:url(../images/icon/resultset_next.png)!important;background-repeat:no-repeat;}
.preview{background-image:url(../images/icon/magnifier.png)!important;background-repeat:no-repeat;}

.book_add{background-image:url(../images/icon/book_add.png)!important;background-repeat:no-repeat;}
.book_edit{background-image:url(../images/icon/book_edit.png)!important;background-repeat:no-repeat;}
.book_save{background-image:url(../images/icon/book_save.png)!important;background-repeat:no-repeat;}
.book_delete{background-image:url(../images/icon/book_delete.png)!important;background-repeat:no-repeat;}
.book_error{background-image:url(../images/icon/book_error.png)!important;background-repeat:no-repeat;}
.book_next{background-image:url(../images/icon/book_next.png)!important;background-repeat:no-repeat;}
.book_open{background-image:url(../images/icon/book_open.png)!important;background-repeat:no-repeat;}
.book_previous{background-image:url(../images/icon/book_previous.png)!important;background-repeat:no-repeat;}

.feed_add{background-image:url(../images/icon/feed_add.png)!important;background-repeat:no-repeat;}
.feed_edit{background-image:url(../images/icon/feed_edit.png)!important;background-repeat:no-repeat;}
.feed_save{background-image:url(../images/icon/feed_disk.png)!important;background-repeat:no-repeat;}
.feed_delete{background-image:url(../images/icon/feed_delete.png)!important;background-repeat:no-repeat;}
.feed_error{background-image:url(../images/icon/feed_error.png)!important;background-repeat:no-repeat;}
.feed{background-image:url(../images/icon/feed.png)!important;background-repeat:no-repeat;}

.report_add{background-image:url(../images/icon/report_add.png)!important;background-repeat:no-repeat;}
.report_edit{background-image:url(../images/icon/report_edit.png)!important;background-repeat:no-repeat;}
.report_save{background-image:url(../images/icon/report_disk.png)!important;background-repeat:no-repeat;}
.report_delete{background-image:url(../images/icon/report_delete.png)!important;background-repeat:no-repeat;}
.report_key{background-image:url(../images/icon/report_key.png)!important;background-repeat:no-repeat;}
.report_link{background-image:url(../images/icon/report_link.png)!important;background-repeat:no-repeat;}
.report_user{background-image:url(../images/icon/report_user.png)!important;background-repeat:no-repeat;}
.report{background-image:url(../images/icon/report.png)!important;background-repeat:no-repeat;}

.package{background-image:url(../images/icon/package.png)!important;background-repeat:no-repeat;}
.layout_content{background-image:url(../images/icon/layout_content.png)!important;background-repeat:no-repeat;}
.application_view{background-image:url(../images/icon/application_view_columns.png)!important;background-repeat:no-repeat;}
.application_view_list{background-image:url(../images/icon/application_view_list.png)!important;background-repeat:no-repeat;}
.menu{background-image:url(../images/icon/menu.png)!important;background-repeat:no-repeat;}

.folder{background-image:url(../images/icon/folder.png)!important;background-repeat:no-repeat;}
.folder_edit{background-image:url(../images/icon/folder_edit.png)!important;background-repeat:no-repeat;}
.folder_delete{background-image:url(../images/icon/folder_deletee.png)!important;background-repeat:no-repeat;}
.folder_find{background-image:url(../images/icon/folder_find.png)!important;background-repeat:no-repeat;}


.folder_modernist_add{background-image:url(../images/icon/folder_modernist_add.png)!important;background-repeat:no-repeat;}
.folder_modernist_edit{background-image:url(../images/icon/folder_modernist_edit.png)!important;background-repeat:no-repeat;}
.folder_modernist_save{background-image:url(../images/icon/folder_modernist_save.png)!important;background-repeat:no-repeat;}
.folder_modernist_delete{background-image:url(../images/icon/folder_modernist_remove.png)!important;background-repeat:no-repeat;}
.folder_modernist_error{background-image:url(../images/icon/folder_modernist_error.png)!important;background-repeat:no-repeat;}
.folder_modernist{background-image:url(../images/icon/folder_modernist.png)!important;background-repeat:no-repeat;}


.folder_classic_add{background-image:url(../images/icon/folder_classic_add.png)!important;background-repeat:no-repeat;}
.folder_classic_edit{background-image:url(../images/icon/folder_classic_edit.png)!important;background-repeat:no-repeat;}
.folder_classic_save{background-image:url(../images/icon/folder_classic_save.png)!important;background-repeat:no-repeat;}
.folder_classic_delete{background-image:url(../images/icon/folder_classic_remove.png)!important;background-repeat:no-repeat;}
.folder_classic_error{background-image:url(../images/icon/folder_classic_error.png)!important;background-repeat:no-repeat;}
.folder_classic{background-image:url(../images/icon/folder_classic.png)!important;background-repeat:no-repeat;}

.group_blue{background-image:url(../images/icon/group_blue.png)!important;background-repeat:no-repeat;}
.group_green{background-image:url(../images/icon/group_green.png)!important;background-repeat:no-repeat;}
.group_grey{background-image:url(../images/icon/group_grey.png)!important;background-repeat:no-repeat;}

.group_green_add{background-image:url(../images/icon/group_green_add.png)!important;background-repeat:no-repeat;}
.group_green_edit{background-image:url(../images/icon/group_green_edit.png)!important;background-repeat:no-repeat;}
.group_green_delete{background-image:url(../images/icon/group_green_remove.png)!important;background-repeat:no-repeat;}

.group_blue_add{background-image:url(../images/icon/group_blue_add.png)!important;background-repeat:no-repeat;}
.group_blue_edit{background-image:url(../images/icon/group_blue_edit.png)!important;background-repeat:no-repeat;}
.group_blue_delete{background-image:url(../images/icon/group_blue_remove.png)!important;background-repeat:no-repeat;}

.brick{background-image:url(../images/icon/brick.png)!important;background-repeat:no-repeat;}
.brick_add{background-image:url(../images/icon/brick_add.png)!important;background-repeat:no-repeat;}
.brick_edit{background-image:url(../images/icon/brick_edit.png)!important;background-repeat:no-repeat;}
.brick_delete{background-image:url(../images/icon/brick_delete.png)!important;background-repeat:no-repeat;}
.bricks{background-image:url(../images/icon/bricks.png)!important;background-repeat:no-repeat;}

.cup{background-image:url(../images/icon/cup.png)!important;background-repeat:no-repeat;}
.cup_add{background-image:url(../images/icon/cup_add.png)!important;background-repeat:no-repeat;}
.cup_edit{background-image:url(../images/icon/cup_edit.png)!important;background-repeat:no-repeat;}
.cup_delete{background-image:url(../images/icon/cup_delete.png)!important;background-repeat:no-repeat;}

.pin{background-image:url(../images/icon/pin.png)!important;background-repeat:no-repeat;}
.pin_add{background-image:url(../images/icon/pin--plus.png)!important;background-repeat:no-repeat;}
.pin_edit{background-image:url(../images/icon/pin--pencil.png)!important;background-repeat:no-repeat;}
.pin_delete{background-image:url(../images/icon/pin--minus.png)!important;background-repeat:no-repeat;}
.arrow-turn{background-image:url(../images/icon/arrow-turn.png)!important;background-repeat:no-repeat;}
.play_green{background-image:url(../images/icon/play_green.png)!important;background-repeat:no-repeat;}
.menu_dropdown{background-image:url(../images/icon/menu_dropdown.png)!important;background-repeat:no-repeat;}
.stop{background-image:url(../images/icon/stop.png)!important;background-repeat:no-repeat;}
.application_osx_share{background-image:url(../images/icon/application_osx_share.png)!important;background-repeat:no-repeat;}
.calculator_edit{background-image:url(../images/icon/calculator_edit.png)!important;background-repeat:no-repeat;}
.ticket{background-image:url(../images/icon/ticket.png)!important;background-repeat:no-repeat;}
.bank{background-image:url(../images/icon/bank.png)!important;background-repeat:no-repeat;}
.user_white{background-image:url(../images/icon/user-white.png)!important;background-repeat:no-repeat;}
.award_star_gold_1{background-image:url(../images/icon/award_star_gold_1.png)!important;background-repeat:no-repeat;}
.ticket--pencil{background-image:url(../images/icon/ticket--pencil.png)!important;background-repeat:no-repeat;}

.award_star_add{background-image:url(../images/icon/award_star_add.png)!important;background-repeat:no-repeat;}
.award_star_del{background-image:url(../images/icon/award_star_delete.png)!important;background-repeat:no-repeat;}
.cards_stack{background-image:url(../images/icon/cards-stack.png)!important;background-repeat:no-repeat;}
.flag_cn{background-image:url(../images/icon/flag_cn.png)!important;background-repeat:no-repeat;}
.world{background-image:url(../images/icon/world.png)!important;background-repeat:no-repeat;}
.chart_organisation{background-image:url(../images/icon/chart_organisation.png)!important;background-repeat:no-repeat;}
.transmit{background-image:url(../images/icon/transmit.png)!important;background-repeat:no-repeat;}
.edit-heading{background-image:url(../images/icon/edit-heading.png)!important;background-repeat:no-repeat;}
.neighbourhood{background-image:url(../images/icon/neighbourhood.png)!important;background-repeat:no-repeat;}
.money_add{background-image:url(../images/icon/money_add.png)!important;background-repeat:no-repeat;}
.money_delete{background-image:url(../images/icon/money_delete.png)!important;background-repeat:no-repeat;}
.house{background-image:url(../images/icon/house.png)!important;background-repeat:no-repeat;}
.check2{background-image:url(../images/icon/star--pencil.png)!important;background-repeat:no-repeat;}
.node{background-image:url(../images/icon/node.png)!important;background-repeat:no-repeat;}
.invoice{background-image:url(../images/icon/document-bookmark.png)!important;background-repeat:no-repeat;}